<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Ion</string>
    <key>uuid</key>
    <string>4f1d5a7c-3b88-4e0b-9a2a-7c1e2d8f1a01</string>
    <key>description</key>
    <string>Ion script language support</string>
    <key>contactName</key>
    <string>ion-lang</string>
</dict>
</plist>
